@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=WindSong:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=WindSong:wght@400;500&display=swap');

*{
margin:0;
padding:0;
font-family: "Inter", sans-serif;
}

a{
text-decoration: none;
color: black;
}

.hero{background-color: yellow;}



.between{
    justify-content:space-between ;
}
.alignCenter{
    align-items: center;
}
.panier{
    color: yellow;
    font: size 32px;
}
.container{
  
    max-width: 1000px;
    width: 100%;

}
/*hero*/

.hero {
height: 100vh;
}

.hero h2 {
    font-size:130px;
    font-family: "WindSong", cursive;
    font-weight: 32px;
    }

.flex{display-flex}